<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoK: Local Sessions</title>
    <link rel="stylesheet" href="/static/crawler.css">
    <script src="/static/crawler.js" type="application/ecmascript"></script>
</head>
<body>
<script type="application/ecmascript">
  _asdConfig = {
    useProgressBar: false,
  };
</script>
<div class="enclosing-container">
    <div class="session-container">
        {% for s in sessions %}
            {% set session = s['session'] %}
            {% set meta = s['metadata'] %}
            <div class="session" _session_id="{{ session.session_id }}">
                <div class="session-left">
                    <p class="session-term">{{ session.term }}</p>
                    <p class="session-id">
                        ID:
                        <span>{{ session.session_id }}</span>
                    </p>
                    <p class="session-crawled">
                        LAST CRAWLED:
                        <span>{{ meta.last_searched }}</span>
                    </p>
                    <p class="session-ranges">
                        CRAWLED RANGE:
                        {% for range in meta.crawled_ranges %}
                            <span>{{ range.start }}-{{ range.stop - 1 }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="session-right">
                    <p class="session-size">
                        <span>{{ session|length }}</span>
                        <br>
                        articles downloaded
                    </p><br/>
                    <button onclick="asd.dropSession('{{ session.session_id }}')">DROP SESSION</button>
                    <br/>
                    <button onclick="asd.copyTermToClipboard('{{ session.term }}')">COPY TERM</button>
                    <br/>
                    <button onclick="asd.useSession('{{ session.session_id }}')">USE THIS SESSION</button>
                    <br/>
                    <button class="session-export-button" id="label-{{ session.session_id }}">
                        EXPORT WITH
                    </button>
                    <select id="session-select-{{ session.session_id }}">
                        {% for export_script in export_scripts %}
                            <option value="{{ export_script }}">{{ export_script|upper }}</option>
                        {% endfor %}
                    </select>

                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <div class="console-container">
        <div id="console-title"><p>LOGS</p></div>
        <div id="console">

        </div>
    </div>
</div>
</body>
</html>